/* Üldine stiil kõigi vaadete jaoks */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ccffcc; /* Heleroheline taust */
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Siia saab hiljem lisada eraldi kujunduse arvuti, mobiili horisontaalse ja vertikaalse vaate jaoks */






